body {
  background-color: #f8f9fa;
  padding-top: 3.5rem; /* Adjust body padding for sticky navbar */
  padding-bottom: 3.5rem;
}
.product {
  border: 0px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product img {
  max-width: 100%;
  height: auto;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #dee2e6;
}
.cart-item:last-child {
  border-bottom: none;
}
.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 1200px) {
  .product-list {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 992px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

.cart-button {
  margin: 0%;
  transition: transform 0.5s ease-out;
  transform-origin: right;
}
.cart-button.clicked {
  transform: scale(1.4);
}
.cart-total {
  font-size: 20px;
  text-align: right;
  margin-top: 10px; /* Optional: adds some space above the total price */
}
.profile-container {
  align-items: center;
  max-width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#pictureUrl {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.profile-info {
  margin-top: 0px;
}
.profile-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}
.profile-info p b {
  color: #007BFF;
}
.address-form {
  margin-top: 20px;
  text-align: left;
}
.address-form label {
  display: block;
  margin: 10px 0 5px;
}
.address-form input, .address-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.address-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.address-form button:hover {
  background-color: #0056b3;
}
/* Custom CSS to adjust the position of the label */
.modal-header {
  padding-bottom: 0;
}

.modal-body {
  padding-top: 0;
}

.form-group {
  margin-top: 0;
  margin-bottom: 0px; 
}
.form-groupFilter {
  margin-bottom: 20px; 
}
#cart-full-danger {
  font-size: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Ensure it is above other content */
  text-align: center;
  width: auto;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
}